@import url("https://fonts.googleapis.com/css2?family=Monoton&family=Quicksand:wght@500;700&display=swap");

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  font-family: "Quicksand";
  font-weight: 500;
  color: #5a3e2b;
}

header {
  background-color: #f4a226;
}

header h1 {
  font-family: "Monoton";
  font-size: 5rem;
  font-weight: 400;
  word-spacing: 30px;
  text-align: center;
  letter-spacing: -4px;
  padding: 20px 0;
}

.tripForm {
  background-color: #e5771f;
  display: flex;
  gap: 20px;
  justify-content: center;
  align-items: center;
  padding: 30px 0;
  font-size: 1.4rem;
  font-weight: 700;
}

.tripForm .form {
  display: flex;
  gap: 10px;
}

.tripForm .form select, input, button {
  font-family: "Quicksand";
  background-color: #ffebb3;
  color: #5a3e2b;
  border: none;
  outline: none;
  padding: 9px 20px;
  border-radius: 18px;
  font-weight: 700;
}
.tripForm .form button {
  background-color: #76c7ad;

  cursor: pointer;
}
